.App {
  text-align: center;
}
/* App.css */
body {
  padding-top: 56px; /* Adjust based on navbar height */
}
.flex-column {
  height: calc(100vh - 56px); /* Adjust based on navbar height */
  position: fixed;
  top: 56px; /* Adjust based on navbar height */
  width: 250px;
  z-index: 1000;
  overflow-y: auto;
}
.main-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  margin-top: 56px; /* Adjust based on navbar height */
  padding: 20px;
}
.header {
  padding-top: 200px;
}