.button-primary, .btn-primary {
    background-color: #00BCD4; /* Cyan */
    border: none;
    color: white;
  }
  
  .button-primary:hover, .btn-primary:hover {
    background-color: #A5B4FC; /* Light Blue */
  }
  
  .button-secondary, .btn-secondary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
  }
  
  .button-secondary:hover, .btn-secondary:hover {
    background-color: #FFC107; /* Amber */
  }
  